/* {
  box-sizing: border-box;
}*/

:root {
  --white: #ffffff;
  --dark-blue: #13293d;
  --tan: #d8a47f;
  --border-radius: 50px;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.background-image {
  background-color: aqua;
  background-image: url("./assets/images/computer-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.5rem;
  margin: 10px;
  /*margin-left: 200px;*/
}

header {
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
}


nav {
  display: flex;
  background-color: var(--tan);
}

nav a {
  color: var(--dark-blue);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

main {
  display: flex;
  /*flex-wrap: wrap;*/
}

aside {
  flex: 1;
  background-color: #b9c6ae90;
  padding: 20px;
  text-align: center;
  width: fit-content;
}

aside img{
  height: 300px;
  width: fit-content;
  border-radius: 30px;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
  margin-top: auto;
}

/*footer::after {
  content: '📩';
  display: inline-block;
  margin-left: 3px;
}*/

footer ul {
 list-style-type: none; 
}

.products {
  flex: 1;
  background-color: none;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  height: fit-content;
  background-color: var(--white);
  /*display: inline-block;*/
}

.card > header {
  /* This is the same as `border-radius: 50px 50px 0 0 */
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

.first-project-img {
  width: 450px;

}

.My-Work {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  background-color: var(--white);
  
  /*display: flex;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  height: fit-content;
  width: fit-content;*/
  
  /*width: 100%;
  width: 1000px;
  height: 550px;
  height: auto;*/
}

.My-Work > header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.My-Work > p {
  text-align: center;
}

.My-Work > img {
  /*width: 100%;*/
  width: 300px;
  /*width: 1000px;
  height: 550px;
  height: auto;
  display: flex;*/

}





.Personal-Statement {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  width: fit-content;
}

.Personal-Statement > header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.Personal-Statement > p {
  text-align: center;
}

.Personal-Statement > img {
  width: 100%;
}









@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  .My-Work {
    flex-direction: column;
  }
  footer{
    flex-direction: column;
  }
}
