:root {
  --white: #ffffff;
  --dark-blue: #10464de8;
  --tan: #8ac9b4ef;
  --border-radius: 5px;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: rgb(131, 211, 240);
  /*background-image: url("/assets/images/dark-computer.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
 font-weight: bolder;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* font family included to ensure that a similar font will be visable 
if the font chosen is not available for different browers*/

h1 .name {
  color: aquamarine;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bolder;
  text-decoration: underline;
  font-family:'Courier New', Courier, monospace;
}

h4 {
  font-size: 3rem;
  margin: 10px;
  font-weight: bolder;
  text-decoration:underline;
  /*margin-left: 200px;*/
}

p {
  font-family: 'Courier New', Courier, monospace;
}

header {
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
}


nav {
  display: flex;
  background-color: var(--tan);
}

nav a {
  color: var(--dark-blue);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

main {
  display: flex;
  /*flex-wrap: wrap;*/
}

aside {
  flex: 1;
  background-color: #55a8a8dc;
  padding: 20px;
  text-align: center;
  width: fit-content;
}

aside img{
  height: 300px;
  width: fit-content;
  border-radius: 30px;
}

/*footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
  margin-top: auto;
}

footer::after {
  content: '📩';
  display: inline-block;
  margin-left: 3px;
}

footer ul {
 list-style-type: none; 
}
*/
.products {
  flex: 1;
  background-color: none;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ffffff42;
  /*display: inline-block; 
  box-sizing: border-box;*/
}

/*.container {
  background-color: var(--white);
  border-radius: var(--border-radius);
  border-style: solid;
  padding: 10px;
  border-width: 1px;
  box-shadow: 10px 10px 5px #1a585bb0;
  margin: 10px 2.18px 10px 2.18px;
  /*display: inline-block

.container img {
  width: 50%;
}*/
/*container possibly replacing box so that work can be displayed next to each other*/

.box {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 100%;
  box-shadow: 10px 10px 5px #1a585bb0;
  margin: 20px;
  height: fit-content;
  background-color: var(--white);
  display:inline-block;
  /*flex-wrap: wrap;*/
  
}

.box > header {
  /* This is the same as `border-radius: 50px 50px 0 0 */
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.box > p {
  text-align: center;
}

.box > img {
  width: 50%;
/* to 100% to fill box when figured out how to put boxes adjacent to each other*/
}

.first-project-img {
  /*width: 450px;*/
  width: 100%;
}
.prework-img {
  /*width: 450px;*/
  width: 49%;
  display: inline-block;
}

.My-Work {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 100%;
  box-shadow: 10px 10px 5px #1a585bb0;
  margin: 20px;
  background-color: var(--white);
  
  /*display: flex;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  height: fit-content;
  width: fit-content;*/
  
  /*width: 100%;
  width: 1000px;
  height: 550px;
  height: auto;*/
}

.My-Work > header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.My-Work > p {
  text-align: center;
}

/*.My-Work > img {
  /*width: 100%;*/
  /*width: 300px;*/
  /*width: 1000px;
  height: 550px;
  height: auto;
  display: flex;
}*/





/*.Personal-Statement {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
  width: fit-content;
}

.Personal-Statement > header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.Personal-Statement > p {
  text-align: center;
}

.Personal-Statement > img {
  width: 100%;
}*/


footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
  margin-top: auto;
}

/*footer::after {
  content: '📩';
  display: inline-block;
  margin-left: 3px;
}*/

footer ul {
 list-style-type: none; 
}






@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  .My-Work {
    flex-direction: column;
  }
  footer{
    flex-direction: column;
  }
}
